@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap");
@import "tailwindcss";

:root {
  --hero-image: 20rem;
  --card-max-size: 40rem;
}

@theme {
  /* Primary */
  --color-green-400: hsl(176, 50%, 47%);
  --color-green-700: hsl(176, 72%, 28%);

  /* Neutral */
  --color-black: hsl(0, 0%, 0%);
  --color-gray-500: hsl(0, 0%, 48%);
  --color-gray-300: hsl(0, 0%, 85%);

  --font-commissioner: "Commissioner";
}

@layer base {
  body {
    @apply min-h-dvh font-commissioner text-gray-500;
  }
}
